[submodule "reveal"]
	path = reveal
	url = https://github.com/Cara-Jo/reveal.js.git
[submodule "programming"]
	path = programming
	url = git@github.com:gdiboulder/gdi-boulder-intro-programming-concepts.git
