// Settings
@import "template/settings";


// Override theme settings (see ../template/settings.scss)
$mainColor: #333;
$headingColor: #8B0036;
$backgroundColor: #92BB44;
$linkColor: #01A9B4;
$selectionBackgroundColor: #134674;

// Background generator
@mixin pageBackground() {
  @include background( radial-gradient( lighten($backgroundColor, 40% ), #f7fbfc ) );
}


// Theme
@import "template/theme";
