// Settings
@import "template/settings";


// Override theme settings (see ../template/settings.scss)
$mainColor: #333;
$headingTextShadow: #ccc;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #01A9B4;
$selectionBackgroundColor: rgba(11, 79, 81, 0.99);

@mixin pageBackground() {
  @include background( radial-gradient($backgroundColor, darken($backgroundColor, 5%)) );
}


// Theme
@import "template/theme";
